.landing {
  text-align: left;
  color:  var(--dark-green);
  font-size: 2rem;
  height: 70vh;
  padding: 50px;
}

.header{
  padding-top: 30px;
  font-style: normal;
}

button {
  background-color: var(--dark-green); 
  border: none;
  color: var(--light-grey);
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 10px;
  border:4px solid var(--dark-green);
}

.landing button:hover {
  background-color: var(--light-grey); /* Green */
  color: var(--dark-green);
  border: 4px solid var(--dark-green);
}

.landing p {
  font-size: 24px;
}
