.landing {
  text-align: left;
  color:  var(--dark-green);
  font-size: 2rem;
  height: 78vh;
  padding: 50px;
}

/* fade in */
.landing .header {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.landing p {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.landing .join-section {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.landing .login {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  padding-top: 30px;
  font-style: normal;
}

.join-section {
  text-align: center;
  color: var(--dark-green);
}

.landing button {
  background-color: var(--dark-green); 
  border: none;
  color: var(--light-grey);
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 10px;
  border:4px solid var(--dark-green);
}

.landing button:hover {
  background-color: var(--light-grey); /* Green */
  color: var(--dark-green);
  border: 4px solid var(--dark-green);
}

.landing p {
  font-size: 24px;
  color: black;
}
