.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
}

.sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: white;
}

.imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
}

.container-image {
    background-color: #91ac43; 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
}

.profile {
    height: 125px;
    width: 125px;
    border-radius: 150px;
} 

input{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      border: none;
      outline: none;
      background-color: #fff;
}

.email{
      height: 25px;
      width: 25px;
      position: absolute;
      padding: 14px 0 0 25px;
}

.name{
      padding-left: 70px;
      font-size: 18px;
}

.second-input{
      padding-top: 20px;
}

button{
      width: 380px;
      height: 50px;
      border-radius: 60px;
      background-color: #40552a;
      color: white;
      font-size: 18px;
      border: none;
}

.login-button{
      padding-top: 25px;
}

.sign-up-link{
      font-size: 18px;
      font-weight: 400;
}

a{
       color: #40552a;
}